metallb:
  existingConfigMap: metallb-config

  controller:
    enabled: true
    resources:
      requests:
        cpu: 10m
        memory: 128Mi
      limits:
        memory: 256Mi
    livenessProbe:
      enabled: true
      periodSeconds: 30
      timeoutSeconds: 5

  speaker:
    # -- Speaker log level. Must be one of: `all`, `debug`, `info`, `warn`, `error` or `none`
    logLevel: debug
    resources:
      requests:
        cpu: 20m
        memory: 128Mi
      limits:
        memory: 200Mi

    livenessProbe:
      enabled: true
      periodSeconds: 30
      timeoutSeconds: 5

  protocol: "layer2" # Set protocol to "layer2" for ARP mode
