apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system

resources:
  - resources/runtime-class.yaml

helmCharts:
  - includeCRDs: true
    name: nvidia-device-plugin
    namespace: kube-system
    releaseName: kube-system
    repo: https://nvidia.github.io/k8s-device-plugin
    valuesFile: nvidia-device-plugin-values.yaml
    version: 0.17.0
